.main {
  height: 100vh;
  overflow: hidden;
  transition: all 1s linear;
}

.main * {
  transition: all 1s linear;
}

.quote {
  font-size: 1.8rem;
  line-height: 2rem;
}

#new-quote {
  padding: 11px 25px;
  border: none;
  border-radius: 5px;
}

#new-Quote:hover {
  cursor: pointer;
}

/* .box * {
  transition: all 1s linear;
} */

#tweet {
  font-size: 3rem;
}
